.threads
  %header.forum--header
    .forum--back.mega
      %a{:href=>"/"} â†
    .forum--title
      %h2.mega
        = @forum[:title]

  - @threads.each do |thread|
    .thread
      .thread--meta
        %span.ss-icon
          comment
        = thread[:posts_count]
        - if false
          %span.ss-icon
            view
          = thread[:view_count]
      .thread--title
        %a{:href=>thread[:url]}
          = thread[:title]
      .thread--dates
        .datetime
          = distance_of_time_in_words(Time.now, thread[:updated_at])
          ago
      - unless thread[:attachments].blank?
        .thread--image
          %img{:src=>thread[:attachments].first[:url]}

%p.original-thread
  %a{:href=>@forum[:original_url]} Original page
  |
  %a{:href=>request.path + ".json"} JSON      