%section.thread
  %header
    .thread--back.mega
      %a{:href=>"/forums/#{params[:forum_id]}"} â†
    %h2.mega
      = @thread[:title]
    .article--author
      %p.author
        = @thread[:person][:nickname]
      %p.datetime
        %time{:datetime=>@thread[:date_posted].new_offset(0).iso8601}
          = distance_of_time_in_words(Time.now, @thread[:date_posted])
        ago
    .thread--opener
      .article--body-html
        = @thread[:content_html]
    - if !@thread[:attachments].blank?
      .thread--attachments
        - @thread[:attachments].each do |attachment|
          .thread--attachment
            %img{:src=>attachment[:url]}
  - @posts.each do |post|
    %article
      .article--author
        %p.author
          = post[:person][:nickname] rescue "Huh"
        %p.datetime
          %time{:datetime=>post[:date_posted].new_offset(0).iso8601}
            = distance_of_time_in_words(Time.now, post[:date_posted])
          ago
      .article--body
        .article--body-html>
          = post[:content_html]

%p.original-thread
  %a{:href=>@thread[:original_url]} Original thread
  |
  %a{:href=>request.path + ".json"} JSON